body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.visuals {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(-1);
  pointer-events: none;
}

.video,
.photos,
.photo,
.effects,
#canvas {
  position: fixed;
  // top: 50%;
  left: 50%;
  // transform: translate(-50%, -50%);
  bottom: 0;
  transform: translate(-50%, 0);
  pointer-events: none;
}

.video {
  opacity: 0.8;
}

.photos,
.photo {
  mix-blend-mode: darken;
}

#canvas {
  height: 480px;
  width: 640px;
}
